
		.main{
			width: 1000px;
			height: 540px;
			background: #fdf7f7;

		}
		.main1{
			width: 40%;
			height: 3000px;
			border: 5px solid black;
			font-size: 50px;
			background:url('bk.jpg')  ;
			background-size: cover;
			color: ghostwhite;

		}
		.row1{
			width: 1000px;
			height: 100px;
			background: #E91E63;
			font-size: 50px;
			color:white;
			text-align: center;

		}
		.row2{
			width:1000px;
			height:40px;
			background: #58D68D;
			color:white;
			text-align: center;
			font-size: 20px;
			font-style: bold;
		}
		.row2-col1{
			width: 200px;
			height: 40px;
			background:#3498DB;
			float: left;
		}
		.row2-col2{
			width: 200px;
			height: 40px;
			float: left;
		}
		.row2-col3{
			width: 200px;
			height: 40px;
			background:#3498DB;
			float: left;
		}
		.row2-col4{
			width: 200px;
			height: 40px;
			float: left;

		}
		.row2-col5{
			width: 200px;
			height: 40px;
			background:#3498DB;
			float: left;
		}
		.row3{
			width:1000px;
			height:200px;
			background:#6C3483;
		}
		.row3-col1{
			width: 250px;
			height:200px;
			background: #0E6655;
			float: left;
			text-align: center;
			font-size: 20px;
			text-transform: bold;
		}
		.row3-col2{
			width: 750px;
			height: 200px;
			background: #0B5345;
			float: left;
		}
		.row3-col1-row1{
			width:250px;
			height:40;
			background: #BDC3C7;
		}
		.row3-col1-row2{
			width:250px;
			height:40;
			background: #D35400;
		}
		.row3-col1-row3{
			width:250px;
			height:40;
			background: #27AE60;
		}
		.row3-col1-row4{
			width:250px;
			height:40;
			background: #F1C40F;
		}
		.row3-col1-row5{
			width:250px;
			height:40;
			background: #73C6B6;
		}
		.row4{
			width:1000px;
			height:50px;
			background: #839192;
			color:white;
			text-align: center;
			font-size: 40px;
		}
		.row5{
			width:1000px;
			height:100px;
			background: #2ECC71;
			
		}
		.row5-col1{
			height: 100px;
			width:330px;
			float:left;
		}
		.row5-col2{
			height: 100px;
			width:330px;
			float:left;
		}
		.row5-col3{
			height: 100px;
			width:330px;
			float:left;
		}
		.row6{
			height: 50px;
			width: 1000px;
			text-align: center;
			font-size: 40px;
			color: white;
		}
		.button1{
			height: 200px;
			width: 400px;
			text-align: center;
			color: whitesmoke;
			background: darkkhaki;
			font-size: 100px;
		}
		.button1:hover{
			color: gainsboro;
			background: cornflowerblue;
		}



